@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@font-face {
  font-family: "Satoshi-Variable";
  src: url("./assets/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("./assets/fonts/Satoshi-Variable.woff") format("woff"),
    url("./assets/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.75rem;
  --background: #1a1a1a;
  --card: #1e1e1e;
  --popover: #1e1e1e;
  --foreground: #dcd6d1;
  --card-foreground: #dcd6d1;
  --popover-foreground: #dcd6d1;
  --primary: #ff2f00;
  --primary-foreground: #ffddff;
  --secondary: #f9370b;
  --secondary-foreground: #dcd6d1;
  --muted: #666f7d;
  --muted-foreground: #a9b8b6;
  --destructive: #ff0000;
  --border: #333333;
  --input: #1e1e1e;
  --ring: #ff2f00;
  --chart-1: #ff481f;
  --chart-2: #ff9370;
  --chart-3: #a9b8b6;
  --chart-4: #b8b7b0;
  --chart-5: #dcd6d1;
  --sidebar: #2a3240;
  --sidebar-foreground: #dcd6d1;
  --sidebar-primary: #ff2f00;
  --sidebar-primary-foreground: #ffddff;
  --sidebar-accent: #1e2530;
  --sidebar-accent-foreground: #dcd6d1;
  --sidebar-border: #333333;
  --sidebar-ring: #ff2f00;
  --DarkP2: #dcd6d1;
  --DarkA1: #caccc4;
  --DarkA2: #666f7d;
  --DarkA3: #a9b8b6;
  --DarkA4: #6a7276;
  --Destaque: #ff0000;
  --primary90: #ff2f00;
  --primary80: #f9370b;
  --primary70: #ff481f;
  --neutral10: #e5e5e5;
  --neutral80: #333333;
  --neutral90: #1a1a1a;
  --principal: #2a3240;
  --secundaria: #1e2530;
  --principalFont: Aclonica, sans-serif;
  --secundariaFont: Catamaran, serif;
  --satoshi: Satoshi-Variable, sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000a1;
  border-radius: 10px;
}

#root {
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: none;
}



@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-principal: var(--principal);
  --color-secundaria: var(--secundaria);
  --color-DarkP2: var(--DarkP2);
  --color-DarkA1: var(--DarkA1);
  --color-DarkA2: var(--DarkA2);
  --color-DarkA3: var(--DarkA3);
  --color-DarkA4: var(--DarkA4);
  --color-Destaque: var(--Destaque);
  --color-primary90: var(--primary90);
  --color-primary80: var(--primary80);
  --color-primary70: var(--primary70);
  --color-neutral10: var(--neutral10);
  --color-neutral80: var(--neutral80);
  --color-neutral90: var(--neutral90);
  --font-principal: var(--principalFont);
  --font-secundaria: var(--secundariaFont);
  --font-satoshi: var(--satoshi);
  --ulPers: .ulPers;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@keyframes shine {
  0% {
    transform: rotate(30deg) translateX(-30%);
    opacity: 0.5;
  }
  20% {
    transform: rotate(30deg) translateX(-20%);
    opacity: 0.7;
  }
  40% {
    transform: rotate(30deg) translateX(-10%);
    opacity: 0.9;
  }
  60% {
    transform: rotate(30deg) translateX(10%);
    opacity: 0.9;
  }
  80% {
    transform: rotate(30deg) translateX(20%);
    opacity: 0.7;
  }
  100% {
    transform: rotate(30deg) translateX(30%);
    opacity: 0.5;
  }
}

.text-shadow-neon {
  text-shadow: 0 0 0.125rem rgba(0, 255, 255, 0.25), 0 0 0.25rem rgba(0, 255, 255, 0.5);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4.5rem);
  }
  100% {
    transform: translateY(0px);
  }
}

@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
}

.ulPers {
  color: oklch(60.6% 0.17 162.48);
  font-weight: 600;
}
