@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    min-height: 100vh;
    overflow-y: hidden;
}

body {
    background-color: #1A1A1A
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #2C2F24;
}

::-webkit-scrollbar-thumb {
    background: #ff563c70;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #FF2A00;
}

